<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                <b class="nv-text pull-right"><h2>TOHMS</h2></b>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form name="privateForm" ng-class="{submitted:privateForm.submitted}">

        <h2>Confirm Details for new slot : </h2>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <h3>Question details :</h3>
        <div class="form-group">
            <div class="drop">
                <h4>Category:</h4>
                <select ng-model="category">
                    <option ng-repeat="catType in model.categoryTypes">{{catType}}</option>
                </select>
            </div>

            <h4>Summary</h4>
            <textarea
                    ng-model="appointment.summary"
                    class="form-control"
                    placeholder="Type Question.."
                    rows="1" cols="2"
                    required>
                </textarea>
            <span class="text-error"
                  data-ng-show="privateForm.submitted && privateForm.summary.$error.required">
                </span>
            </h4>

            <h4>Description</h4>
            <textarea
                    ng-model="appointment.description"
                    class="form-control"
                    placeholder="Enter brief description"
                    rows="3" cols="3">
            </textarea>

            <div class=" form-group">
                <h4>Confirm Selected Slot:
                    <i data-toggle="tooltip" data-placement="right" title="You can reduce the duration of your timeslot here.
Book time for upto 20 minutes within the available range specified below." class="fa fa-question-circle"></i></h4>

                <div ng-if="model.appointment.endTime <= model.initEndTime &&
             model.appointment.startTime >= model.initStartTime &&
             (model.appointment.endTime - model.appointment.startTime)/60000 > 20"
                     class="alert alert-danger" role="alert">
                    <h11>Time Slot cannot exceed 20 mins</h11>
                </div>

                <div ng-if="model.appointment.endTime <= model.initEndTime &&
             model.appointment.startTime >= model.initStartTime && (model.appointment.endTime - model.appointment.startTime)/60000 < 0"
                     class="alert alert-danger" role="alert">
                    <h11>Start time should be before end time</h11>
                </div>

                <div ng-if="!(model.appointment.endTime <= model.initEndTime &&
             model.appointment.startTime >= model.initStartTime)"
                     class="alert alert-danger" role="alert">
                    <h11>Time slot should be between
                        {{model.initStartTime.getHours()}}:{{model.initStartTime.getMinutes()}}
                        - {{model.initEndTime.getHours()}}:{{model.initEndTime.getMinutes()}}
                    </h11>
                </div>

                <input ng-model="model.appointment.startTime"
                       name="startTime"
                       type="time"
                       required/>
                <span class="text-error"
                      data-ng-show="privateForm.submitted && privateForm.startTime.$error.required">
            </span>

                -

                <input ng-model="model.appointment.endTime"
                       name="endTime"
                       type="time"
                       required/>
                <span class="text-error"
                      data-ng-show="privateForm.submitted && privateForm.endTime.$error.required">
            </span>


                <span ng-if="(model.appointment.endTime - model.appointment.startTime)/60000 > 0">
                {{(model.appointment.endTime - model.appointment.startTime)/60000}} mins
            </span>

            </div>


            <div class="drop form-group">
                <h4>Visibility:</h4>
                <select ng-model="appointment.visibility">
                    <option ng-repeat="visibleType in model.visibleTypes">{{visibleType}}</option>
                </select>

                </h4>
            </div>


            <div class="drop form-group">
                <h4>Member Count : </h4>
                <input ng-model="model.appointment.membercount"
                       name="membercount"
                       type="number"
                       size="4"
                       required/>
                <span class="text-error"
                      data-ng-show="privateForm.submitted && privateForm.membercount.$error.required">
                </span>
            </div>

            <div class="drop form-group">
                <h4>Phone Number : </h4>
                <input ng-model="model.appointment.phonenumber"
                       name="phonenumber"
                       type="text"/>
            </div>



        </div>

    </form>
</div>

