<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/studentday/-1" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <form name="publicForm" ng-class="{submitted:publicForm.submitted}">

        <h2>Confirm joining group discussion : </h2>
        <br/>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <h3>Question details: </h3>
        <br/>

        <button type="button" class="btn btn-primary btn-md" disabled>
            {{model.appointment.category}}
        </button>


        <div class="form-group">
            <h4>Summary:
            {{model.appointment.summary}}
            </h4>
        </div>

            <h4>Description: </h4>
            {{model.appointment.description}}

            <div class="form-group">
                <h4>Time Slot:</h4>
                </div>

               <time datetime="model.appointment.startTime"></time>

                -

        <time datetime="model.appointment.endTime"></time>

        <i>{{(model.appointment.endTime - model.appointment.startTime)/60000}} mins</i>

            <div class="form-group">
                <h4>Members Registered: </h4>

            {{model.appointment.membercount}}

            </div>


            <div class="drop form-group">
                <h4 class="astr">Member Count :</h4>
                <input ng-model="appointment.additionalmembers"
                       name="additionalmembers"
                       type="number"
                       size="4"
                       required/>
                <span class="text-error"
                      data-ng-show="privateForm.submitted && privateForm.membercount.$error.required">
                </span>
            </div>

            <div class="drop form-group">
                <h4>Phone Number :</h4>
                <input ng-model="appointment.phonenumber"
                       name="phonenumber"
                       type="tel"/>
            </div>

            <br/>

            <div class="form-group">
                <a class="btn btn-danger btn-md"
                   href="#/studentday/0">
                    Cancel
                </a>

                <button type="button" class="btn btn-info btn-md"
                        ng-click="model.bookAppointment()">
                    Join
                </button>
            </div>


        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="pull-right btn-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"> <b>Confirm Appointment?</b>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h5> <b>Date</b> : 25th October, 2018 </h5>
                        <h5><b>Time </b>: {{model.appointment.startTime.getHours()}}:{{model.initStartTime.getMinutes()}}
                            PM - {{model.initEndTime.getHours()}}:{{model.initEndTime.getMinutes()}} PM </h5>
                        <h5><b>Teaching Assistant </b>: Tweety</h5>
                        <h5><b>Appointment Type</b> : Public </h5>
                        <h5><b>Member Count</b> : {{appointment.additionalmembers}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                ng-click="model.confirmAppointment(appointment)">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

