<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <span class="nav-name"> Noddy </span>
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#/" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>        </div>
        <div class="navbar-header">
            <div class="navbar-brand">
                <h3>
                    <a href="#/home" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    <span style="margin-left:0.5em" class="logo"> T.O.H.M.S </span></h3>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
    <img class="text-right" ng-src="/project/views/student/templates/oh.jpg" width="820px" height="300px" style="margin-left: 150px" >
        <br>
        <br>
        <br>
        <div class="row" style="margin-left: 400px">
            <div>
               <h4> Courses where you are a Student:</h4>
                <div style="font-size: 15px;font-family: 'sans-serif">
                <a href="" style="margin-left: 50px" ng-click="model.schedulePage('db')" >CS 5200 Database Management Systems</a><br>
                 <a href="" style="margin-left: 50px" ng-click="model.schedulePage('hci')">CS 5340 Human Computer Interaction</a>
                </div>
                <br>
               <h4> Courses where you are a Teaching Assistant:</h4>
                <div style="font-size: 15px;font-family: 'sans-serif'; margin-left: 50px">
                <p>None</p>
                </div>


                </div>



    </div>



</div>
</div>




