<nav class="navbar  navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <div class="row">

                <span href="#/" class="nav-name">
                     Noddy
                </span>

            <a class="logo" href="#/home" style="margin-right: 15px" >Home</a>
            <a href="#/"  style="color:white;margin-bottom: 12px">
                <span class="logo" >Logout</span>
            </a>
            </div></div>
        <div class="navbar-header">
            <div class="navbar-brand">
                <h3>
                    <a href="#/" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    <span style="margin-left:0.5em" class="logo"> T.O.H.M.S </span></h3>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
    <img class="text-right" ng-src="/project/views/student/templates/oh.jpg" width="820px" height="300px" style="margin-left: 150px" >
        <br>
        <br>
        <br>
        <div class="row">
            <div>
            <button type="button" class="btn btn-success btn-lg " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 300px" >Schedule an appointment</button>
            <button type="button" class="btn btn-success btn-lg disabled" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 100px" >View upcoming appointments</button>


        </div>
        <div class="collapse" id="collapseExample" style="margin-left: 300px">
            <br>
            <div class="card card-body" style="font-size: 15px;font-family: 'sans-serif">
                <a href="" ng-click="model.schedulePage('db')" >CS 5200 Database Management Systems</a><br>
                <a href="" ng-click="model.schedulePage('hci')">CS 5340 Human Computer Interaction</a>

            </div>
        </div>


    </div>




</div>




