<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/studentcalendar" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>
        </div>
    </div>
</nav>

<div class="container">


    <div class="row">
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>


    <div id ="container-fluid"  style="text-align:center">



        <div ng-show="model.booked" class="alert alert-success" role="alert">
            {{model.booked}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h3>Office Hours Schedule for <b>Database Management Systems </b> </h3>
        <h4> <b>Teaching Assistant : </b> Tweety </h4>
        <a tabindex="0" class="btn btn-md btn-danger" title="Book your appointment with TA" data-toggle="popover" data-trigger="focus"
           data-content="Click on an existing group appointment to add yourself to the discussion. To book your own appointment,select an available timeslot and drag till the required time.">
            Want to book to appointment?</a>



    </div>
    </div>


    <br/>
    <br/>

                 <div class="row">

                     <div id='index-view' class="index col-md-2">
                        <b>Index:</b>
                         <div class="row">
                         <div class="group-index col-md-2"></div>
                             <div class="col-md-10"><b>Group Appointment</b></div>
                         </div>
                         <br/>
                         <div class="row">
                         <div class="private-index col-md-2"></div>
                             <div class="col-md-10"><b>Private Appointment</b></div>
                         </div>
                     </div>

                     <div class="col-md-8">

                         </br>

                         <div class="input-group text-search">

                             <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for questions.."/>
                             <span class="input-group-addon">
            <a>
               <i ng-click="model.findQuestions(searchTerm)" class="fa fa-search"></i>
            </a></span>
                         </div>

                         <br/>
                    <nav class=" filter nav navbar-default">
                         <b style="font-size: 20px;">Show </b>

                    <button type="button" class="btn btn-success btn-md"  ng-click="model.showAllAppointments()" >All appointments</button>
                    <button type="button" class="btn btn-success btn-md "  ng-click="model.showMyBookedAppointments()" >My appointments</button>
                    <button type="button" class="btn btn-success btn-md "  ng-click="model.showAllGroupAppointments()" >All Group Appointments</button>
                    </nav>
                    <div id='calendar' class="cal-bg " ></div>
                     </div>

                 </div>



    </div>

</div>


