<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/home" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>
        </div>
    </div>
</nav>

<div class="container" >



<div class="container">

    <h2>Office Hours Weekly Schedule for CS5200 - Database Management Systems</h2>
    <br/>
    <h3>Select the Teaching Assistant:
        <select ng-model="ta">
            <option ng-repeat="taName in model.taNames">{{taName}}</option>
        </select></h3>
<br/>

    <div id='calendar' ng-show="ta=='Tweety' || ta=='Sylvester'" >


    </div>
</div>

