<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand btn">
                <b class ="nv-text pull-right"><h2>TOHMS</h2></b>
            </a>
        </div>
    </div>
</nav>


<div class="container">
    <h2>Office Hours Weekly Schedule for CS5200 - Database Management Systems</h2>
    <br/>
    <h3>Select the Teaching Assistant:
        <select ng-model="ta">
            <option ng-repeat="taName in model.taNames">{{taName}}</option>
        </select></h3>
<br/>
    <div id='calendar'>


    </div>
</div>

