<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/studentcalendar" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <br/>

    <div ng-show="model.booked" class="alert alert-success" role="alert">
        {{model.booked}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h1>Office Hours Schedule </h1>

    <h3> <b>Teaching Assistant : </b> Tweety </h3>
    <h3> <b>Course : </b> Database Management Systems </h3>
    <h3> <b>Location : </b> WVH-204 </h3>

    <br/>
    <div id ="container-fluid"  style="text-align:center">


    <button type="button" class="btn btn-success btn-default" data-placement="top" data-toggle="tooltip">Want to book an appointment? </button>
    <i data-toggle="tooltip" data-placement="right" title="Select and drag a timeslot to create new appointment.
        Click on public events to join existing appointments" class="fa fa-question-circle fa-2x"></i>

    </div>


    <br/>
    <br/>


    <div class="input-group text-search">

        <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for questions.."/>
        <span class="input-group-addon">
            <a>
               <i ng-click="model.findQuestions(searchTerm)" class="fa fa-search"></i>
            </a></span>
    </div>

    <div id='calendar'></div>


</div>