<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <span class="nav-name"> Tweety </span>
            <a class="btn btn-lg" href="#/taHome"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#/" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/taday/-1" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    <span style="margin-left:0.5em" class="logo"> T.O.H.M.S </span></h3>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <form name="privateForm" ng-class="{submitted:privateForm.submitted}">



        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>



        <h3>Question details :</h3>
        <br>
        <div class="form-group">
            <div class="drop">
                <h4>Category: </h4>
                Homework-1
            </div>

            <h4 >Summary: </h4>

            Question of design heuristics


            <h4>Description: </h4>

I have a question about a deisgn heuristic and how I can apply it to my project
</textarea>

            <div class=" form-group">

                <div class="form-group">
                    <h4>Time Slot:</h4>
                </div>


               11:00 AM

            </span>


                -

                11:15 AM

            </span>


                <span ng-if="(model.appointment.endTime - model.appointment.startTime)/60000 > 0">
               <i> {{(model.appointment.endTime - model.appointment.startTime)/60000}} mins </i>
            </span>

            </div>


            <div class="drop form-group">
                <h4 >Visibility :</h4>
                Private

                </h4>
            </div>


            <div class="drop form-group">
                <h4>Phone Number :</h4>
                777-654-7665
            </div>

            <br/>

            <div class="form-group">
                <a class="btn btn-danger btn-md"
                   href="#/taday/-1">
                    OK
                </a>


            </div>


            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="pull-right btn-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            <h5> <b>Date</b> : 25th October, 2018 </h5>
                            <h5><b>Time </b>: {{model.appointment.startTime.getHours()}}:{{model.appointment.startTime.getMinutes()}}
                            PM - {{model.appointment.endTime.getHours()}}:{{model.appointment.endTime.getMinutes()}} PM </h5>
                            <h5><b>Teaching Assistant </b>: Tweety</h5>
                            <h5><b>Appointment Type</b> : {{appointment.visibility}} </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    ng-click="model.confirmAppointment(appointment)">Confirm</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

