<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/taHome"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">

            <div class="navbar-brand btn">
                <h3>
                    <a href="#/taHome" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>

        </div>
    </div>
</nav>


<div class="container" ng-init="tab='appt'">
    <h2>Office Hours Weekly Schedule for CS5200 - Database Management Systems</h2>
    <br/>

    <br/>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" ng-class="{'active':tab=='appt'}">
            <a class="nav-link active" ng-click = "tab='appt'" id="appointments" data-toggle="tab" data-target="#appt-div"  role="tab" aria-controls="home" aria-selected="true">Appointments</a>
        </li>
        <!--<li class="nav-item" ng-class="{'active':tab=='quest'}">-->
            <!--<a class="nav-link" ng-click="tab='quest'" id="questions" data-toggle="tab" data-target=="#questions-div" role="tab" aria-controls="profile" aria-selected="false">See questions</a>-->
        <!--</li>-->

    </ul>
    <div class="tab-content" id="myTabContent">
        <div ng-show="tab=='appt'" id='calendar-id' class="tab-pane active" id="appt-div" role="tabpanel" aria-labelledby="appointments">

            <div  id='calendar'>


            </div>
        </div>


        </div>

    </div>

</div>

