<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="btn btn-lg" href="#/taHome"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand btn">
                <h3>
                    <a href="#/taHome" class="glyphicon glyphicon-chevron-left pull-left">  </a>
                    T.O.H.M.S</h3>
            </div>
        </div>
    </div>
</nav>
<div class="w3-container">
    <br/>
    <h3 class="heading1"><i>Courses where you are </i>Teaching Assistant:
        <!--<select ng-model="user">-->
            <!--<option ng-repeat="userType in model.userTypes">{{userType}}</option>-->
        <!--</select>-->
    </h3>

    <br/>
    <br/>

    <!--<div ng-show="user == 'Teaching Assistant'">-->

        <h2 >Check TA Office hours for :</h2>

            <br/>
            <br/>

            <ul>
                <li><h3><a href ="#/tacalendar"> CS5200 - Database Management Systems </a></h3></li>
                <br/>
                <li><h3><a href ="#/tacalendar"> CS6400 - DataMining Techniques </a></h3></li>
            </ul>


    <!--</div>-->

    <!--<div ng-show="user == 'Student'" class="alert alert-danger" role="alert">-->
        <!--No Courses Found!-->
    <!--</div>-->


    <div id='calendar'></div>



</div>